[submodule "third_party/imbase"]
	path = third_party/imbase
	url = https://github.com/csprite/imbase
[submodule "third_party/microtar"]
	path = third_party/microtar
	url = https://github.com/pegvin/microtar
[submodule "third_party/simpleini"]
	path = third_party/simpleini
	url = https://github.com/csprite/simpleini
